@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,600,700,900&display=swap);
@font-face {
  font-family: "PF Handbook Pro";
  font-display: swap;
  src: url(../fonts/PFHandbookProBold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "PF Handbook Pro";
  font-display: swap;
  src: url(../fonts/PFHandbookProRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
input:focus {
  outline: 0
}
* {
  -webkit-tap-highlight-color: transparent
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #333;
  line-height: 1;
  font-family: Inter,sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
details summary {
  list-style: none
}
details summary::-webkit-details-marker {
  display: none
}
input {
  border-radius: 0
}
input[type=search] {
  -webkit-appearance: none
}
body {
  background-color: #f4f4f4
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 76.25rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
.select {
  min-width: 0;
  position: relative;
  flex-shrink: 0
}
.select__body {
  position: relative
}
.select__option,
.select__value {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;
  cursor: pointer;
  background-color: #070707;
  transition: all .3s;
  color: #fcfcfc;
  font-family: Roboto,sans-serif;
  font-size: .875rem;
  border: .0625rem solid #a2d1f6;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%
}
.select__option:not(:last-child),
.select__value:not(:last-child) {
  margin-bottom: .1875rem
}
.select__option[hidden] {
  display: none
}
.select__row {
  display: flex;
  gap: .875rem;
  align-items: center
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - .0625rem)
}
._select-tag {
  cursor: pointer
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.menu li a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s
}
.form-section__checkbox a {
  text-decoration: underline;
  text-decoration-color: inherit;
  transition: text-decoration-color .3s
}
.splide__pagination {
  top: calc(100% + .6875rem)!important;
  display: flex!important;
  align-items: center;
  gap: .625rem
}
.splide__pagination li {
  position: relative;
  height: .375rem;
  width: .375rem
}
.splide__pagination__page {
  position: absolute!important;
  top: 0;
  left: 0;
  margin: 0!important;
  -webkit-transform: none!important;
  transform: none!important;
  height: .375rem!important;
  width: .375rem!important;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  border: none!important;
  opacity: 1!important;
  background-color: #333!important
}
.splide__pagination__page.is-active {
  -webkit-transform: scale(1.66)!important;
  transform: scale(1.66)!important
}
.section-title {
  color: #333;
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center
}
.button {
  color: #fff;
  font-weight: 500;
  padding: 1rem 2.8125rem;
  border-radius: 3.125rem;
  text-align: center;
  background-color: #81c7b9;
  transition: background-color .3s
}
.header {
  padding: .875rem 0;
  background: #000;
  box-shadow: 0 .125rem 1.25rem 0 hsla(0,0%,100%,.2) inset;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50
}
.header__container {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.header__logo {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  flex-grow: 1;
  position: relative;
  z-index: 3
}
.menu__body {
  display: flex;
  gap: 2.8125rem;
  align-items: center
}
.menu ul {
  display: flex;
  gap: .625rem 1.875rem;
  align-items: center;
  flex-wrap: wrap
}
.menu li {
  color: #fff;
  font-size: .875rem;
  font-weight: 500
}
.menu li a {
  text-decoration-thickness: .125rem;
  text-underline-offset: .1875rem
}
.menu__contacts {
  padding: .75rem 1.875rem;
  border-radius: 3.125rem;
  background-color: #fff;
  color: #333;
  font-size: .875rem;
  font-weight: 500;
  transition: all .3s
}
.icon-menu {
  display: none
}
.footer__contacts {
  background: #232323;
  padding-top: 1.8125rem;
  padding-bottom: 2.0625rem
}
.footer__title {
  color: #ccc;
  font-size: 1.0625rem;
  font-weight: 700
}
.footer__title:not(:last-child) {
  margin-bottom: 1.375rem
}
.footer__text {
  color: #999;
  font-size: .75rem;
  line-height: 1.4
}
.footer__label {
  background: #191919;
  padding: 1rem 1.25rem;
  color: #777;
  text-align: center;
  font-size: .75rem
}
.page-home {
  position: relative
}
.page-home__hero:not(:last-child) {
  margin-bottom: 1.25rem
}
.page-home__form,
.page-home__videos,
.page-home__why-us {
  margin-bottom: 3.125rem
}
.page-home__roadmap {
  margin-bottom: 3.75rem
}
.page-home__facts {
  margin-bottom: 3.75rem
}
.hero__slider {
  border-radius: 0 0 3.125rem 3.125rem;
  overflow: hidden
}
.hero__slider .splide__slide {
  min-height: 34.375rem;
  display: flex
}
.hero__slider .splide__slide::before {
  content: "";
  background: #000;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2
}
.hero__slider .splide__pagination {
  top: auto!important;
  bottom: 4.5rem!important;
  display: flex!important;
  height: .625rem;
  align-items: center;
  gap: .9375rem
}
.hero__slider .splide__pagination li {
  position: relative;
  height: .5625rem;
  width: .5625rem
}
.hero__slider .splide__pagination__page {
  position: absolute!important;
  top: 0;
  left: 0;
  margin: 0!important;
  -webkit-transform: none!important;
  transform: none!important;
  height: .5625rem!important;
  width: .5625rem!important;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  border: none!important;
  opacity: 1!important;
  background-color: #fff!important
}
.hero__slider .splide__pagination__page.is-active {
  -webkit-transform: scale(1.3)!important;
  transform: scale(1.3)!important
}
.hero__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__bg--mobile {
  -o-object-position: top center;
  object-position: top center
}
.hero__container {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: end
}
.hero__body {
  max-width: 32.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative
}
.hero__body::before {
  content: "";
  position: absolute;
  backdrop-filter: blur(.3125rem);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%
}
.hero__body>* {
  position: relative;
  z-index: 2
}
.hero__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700
}
.hero__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__info {
  display: flex;
  gap: .75rem;
  flex-wrap: wrap
}
.hero__info:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__info-block {
  color: #000;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  padding: .5625rem .875rem;
  border-radius: .625rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1
}
.hero__info-block span>span {
  font-size: 1rem
}
.hero__info-block--thin {
  font-weight: 300;
  font-size: 1rem
}
.hero__present {
  display: flex;
  gap: .5625rem;
  align-items: center;
  color: #fff;
  font-weight: 300
}
.hero__present svg {
  width: 1.125rem;
  height: 1.25rem;
  flex-shrink: 0
}
.hero__special:not(:first-child) {
  margin-top: 3.125rem
}
.hero__special-title {
  color: #fff
}
.hero__special-title:not(:last-child) {
  margin-bottom: 1rem
}
.hero__special-text {
  color: #fff;
  font-size: .3125rem;
  font-weight: 300
}
.form-section {
  border-radius: 3.125rem;
  background: #000;
  padding: 1.125rem 0
}
.form-section__container {
  max-width: 44.75rem
}
.form-section__body {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .9375rem 1.875rem
}
.form-section__field {
  position: relative
}
.form-section__field span {
  display: block;
  position: absolute;
  pointer-events: none;
  top: 50%;
  font-size: .875rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1.25rem;
  color: #a4a4a4;
  font-weight: 500
}
.form-section__field input {
  padding: .875rem 1.25rem .875rem 3.125rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 3.125rem;
  background: #fff;
  box-shadow: 0 .125rem 1.25rem 0 rgba(0,0,0,.1)
}
.form-section__button {
  border-radius: 3.125rem;
  border: .0625rem solid #fff;
  color: #fff;
  font-weight: 500;
  text-align: center;
  transition: all .3s;
  padding: 1rem 1.25rem
}
.form-section__checkbox {
  color: #fff;
  font-size: .5625rem;
  font-weight: 300;
  display: flex;
  gap: .5625rem;
  align-items: center;
  position: relative;
  cursor: pointer
}
.form-section__checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0
}
.form-section__checkbox::before {
  content: "";
  width: .5625rem;
  height: .5625rem;
  border-radius: .125rem;
  color: #000;
  flex-shrink: 0;
  border: .03125rem solid #58585a;
  background: #fff;
  display: flex;
  font-size: .625rem;
  align-items: center;
  justify-content: center
}
.form-section__checkbox:has(input:checked)::before {
  content: "✔"
}
.why-us__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.why-us__content {
  border-radius: 2.5rem;
  background: #fff;
  box-shadow: 0 .125rem 1.25rem 0 rgba(0,0,0,.1);
  padding: 2.5rem 4.375rem 3rem;
  display: flex
}
.why-us__body {
  flex-grow: 1
}
.why-us__item {
  display: flex;
  align-items: center;
  gap: .875rem
}
.why-us__item:not(:last-child) {
  margin-bottom: 1.125rem
}
.why-us__icon {
  width: 1.25rem;
  height: 1.25rem;
  -o-object-fit: contain;
  object-fit: contain
}
.why-us__label {
  max-width: 20.375rem;
  color: #333
}
.why-us__label span {
  font-weight: 700
}
.why-us__services {
  display: flex;
  gap: 1.6875rem;
  padding-left: 3.1875rem
}
.why-us__services img {
  height: 2.3125rem
}
.why-us__services:not(:last-child) {
  margin-bottom: 1.125rem
}
.family {
  display: flex;
  flex-direction: column;
  align-items: center
}
.family__title {
  text-align: center;
  font-size: 1.125rem
}
.family__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.family__body {
  padding: 1.3125rem 2.8125rem;
  border-radius: 3.75rem;
  border: .0625rem solid #cbcbcb;
  display: flex;
  align-items: center;
  gap: 1.9375rem
}
.family__label {
  color: #333;
  font-size: 1.5rem
}
.family__logo {
  aspect-ratio: 135/119;
  width: 7.5rem;
  flex-shrink: 0
}
.videos__slider .splide__arrow {
  background-color: rgba(0,0,0,0)!important;
  border-radius: 0!important;
  border: none!important;
  opacity: 1!important;
  width: auto!important;
  height: 100%!important;
  transition: all .3s;
  display: flex;
  align-items: center
}
.videos__slider .splide__arrow svg {
  width: .7875rem!important;
  height: 1.4375rem!important
}
.videos__slider .splide__arrow:disabled {
  opacity: 0;
  visibility: hidden
}
.videos__slider .splide__arrow--next {
  right: 0!important;
  padding-right: 1.25rem!important
}
.videos__slider .splide__arrow--prev {
  left: 0!important;
  padding-left: 1.25rem!important
}
.yt-video {
  aspect-ratio: 271/357;
  border-radius: .625rem;
  overflow: hidden;
  position: relative
}
.yt-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.roadmap__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.roadmap__spoilers {
  background-color: #f4f4f4;
  border-radius: 1.5rem;
  box-shadow: 0 .125rem 1.25rem 0 rgba(0,0,0,.1);
  counter-reset: roadmap
}
.roadmap__block-title {
  color: #333;
  font-size: 1.25rem;
  padding: 2.5rem 1.25rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center
}
.roadmap__block-title span {
  display: block;
  transition: color .3s
}
.roadmap__block-title::before {
  content: counter(roadmap,decimal-leading-zero);
  color: #81c7b9;
  font-size: 2rem;
  font-weight: 600
}
.roadmap__item {
  counter-increment: roadmap
}
.roadmap__body {
  padding: 2.5rem 1.0625rem;
  flex-shrink: 0;
  position: relative;
  flex-grow: 1
}
.roadmap__body[hidden] {
  visibility: hidden
}
.roadmap__body[hidden]>* {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden
}
.roadmap__content {
  height: 100%;
  display: flex;
  flex-direction: column
}
.roadmap__label {
  color: #333;
  font-size: 1.5rem
}
.roadmap__label:not(:last-child) {
  margin-bottom: 1rem
}
.roadmap__text {
  color: #333;
  font-size: 1.125rem;
  font-weight: 300;
  flex-grow: 1
}
.roadmap__text:not(:last-child) {
  margin-bottom: 1.3125rem
}
.roadmap__link:not(:last-child) {
  margin-bottom: 1.8125rem
}
.roadmap__image {
  aspect-ratio: 314/231;
  border-radius: .625rem;
  overflow: hidden;
  flex-shrink: 0
}
.facts__slider .splide__slide {
  display: flex;
  flex-direction: column
}
.facts__header {
  display: flex;
  gap: 1.0625rem;
  align-items: center;
  flex-grow: 1;
  padding: .5625rem
}
.facts__header span {
  display: block;
  color: #81c7b9;
  font-size: 6rem;
  font-weight: 700
}
.facts__item {
  padding: 1rem;
  border-radius: .3125rem;
  background-color: #fff;
  box-shadow: 0 .125rem 1.25rem 0 rgba(0,0,0,.1);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 8.6875rem
}
.facts__title {
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center
}
.facts__title:not(:last-child) {
  margin-bottom: .625rem
}
.facts__text {
  text-align: center;
  font-size: .875rem;
  font-weight: 300
}
.text b {
  font-weight: 700
}
.text>*:not(:last-child) {
  margin-bottom: 1.375rem
}
.text ul li {
  display: flex;
  align-items: center;
  gap: .625rem
}
.text ul li:not(:last-child) {
  margin-bottom: 1rem
}
.text ul li::before {
  content: "";
  width: .25rem;
  height: .25rem;
  background-color: #81c7b9;
  border-radius: 50%;
  flex-shrink: 0
}
.page-home__partners {
  margin-bottom: 3.75rem
}
.partners__text {
  font-weight: 500
}
.partners__text:not(:last-child) {
  margin-bottom: .875rem
}
.partners__label {
  padding: .75rem 2.5rem;
  font-weight: 500;
  border-radius: 3.75rem;
  border: .0625rem solid #cbcbcb
}
.partners__label b {
  font-weight: 700
}
.partners__logos {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.125rem
}
.partners__logo {
  border-radius: 1.125rem;
  overflow: hidden;
  background-color: #fff;
  aspect-ratio: 176/88
}
.page-home__rates {
  margin-bottom: 3.75rem
}
.rates__aside-block,
.rates__block,
.rates__name-block,
.rates__periods,
.rates__table-title {
  border-radius: .625rem;
  background: #fff
}
.rates__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.rates__text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300
}
.rates__text:not(:last-child) {
  margin-bottom: 2.125rem
}
.rates__table:not(:last-child) {
  margin-bottom: 1.875rem
}
.rates__header {
  display: grid;
  grid-template-columns: 9.6875rem repeat(3,1fr);
  gap: .625rem
}
.rates__header:not(:last-child) {
  margin-bottom: .625rem
}
.rates__table-title {
  padding: 1.25rem .3125rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.rates__label {
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem
}
.rates__label--big {
  font-size: 1.5rem
}
.rates__label--small {
  font-size: 1rem
}
.rates__label._active {
  color: #81c7b9;
  font-weight: 900
}
.rates__block {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: .625rem
}
.rates__block .rates__label {
  padding: 1.4375rem .3125rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.rates__block .rates__label:not(:last-child) {
  border-right: .0625rem solid #f5f5f5
}
.rates__body {
  display: grid;
  grid-template-columns: 9.6875rem 1fr;
  gap: .625rem
}
.rates__aside-block {
  padding: 1rem .6875rem
}
.rates__aside-block:not(:last-child) {
  margin-bottom: .625rem
}
.rates__periods .rates__label {
  padding: 1.4375rem .3125rem
}
.rates__periods .rates__label:not(:last-child) {
  border-bottom: #f5f5f5 solid .0625rem
}
.rates__slider {
  display: flex;
  min-width: 0
}
.rates__slider .splide__slide {
  display: flex
}
.rates__slider .splide__track {
  flex-grow: 1
}
.rates__item {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  flex-grow: 1;
  min-width: 0
}
.rates__name-block {
  padding: 1.25rem .3125rem
}
.rates__item-block {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: .625rem;
  background: #fff;
  flex-grow: 1
}
.rates__item-block .rates__label:not(:nth-child(3n)) {
  border-right: .0625rem solid #f5f5f5
}
.rates__item-block .rates__label:not(:nth-last-child(-n+3)) {
  border-bottom: .0625rem solid #f5f5f5
}
.rates__link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
.faq-section {
  padding-top: 3.75rem;
  padding-bottom: 6.25rem;
  background-color: #fff
}
.faq-section__title:not(:last-child) {
  margin-bottom: 1.875rem
}
.faq-section__item {
  border-radius: .625rem;
  background: #fff;
  box-shadow: 0 .125rem 1.25rem 0 rgba(0,0,0,.1)
}
.faq-section__item:not(:last-child) {
  margin-bottom: .9375rem
}
.faq-section__block-title {
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
  padding: 1.875rem 3.125rem;
  transition: color .3s
}
.faq-section__block-title::after {
  content: "";
  aspect-ratio: 28/15;
  width: 1.75rem;
  background: url(../img/chevron.svg) no-repeat center/contain;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.faq-section__block-title._spoiler-active::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.faq-section__text {
  font-size: 1.125rem;
  padding: 0 3.125rem 1.875rem
}
.splide__container {
  box-sizing: border-box;
  position: relative
}
.splide__list {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  height: 100%;
  margin: 0!important;
  padding: 0!important
}
.splide.is-initialized:not(.is-active) .splide__list {
  display: block
}
.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto
}
.splide:not(.is-overflow) .splide__pagination {
  display: none
}
.splide__progress__bar {
  width: 0
}
.splide {
  position: relative;
  visibility: hidden
}
.splide.is-initialized,
.splide.is-rendered {
  visibility: visible
}
.splide__slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style-type: none!important;
  margin: 0;
  position: relative
}
.splide__slide img {
  vertical-align: bottom
}
.splide__spinner {
  -webkit-animation: splide-loading 1s linear infinite;
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px
}
.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline
}
.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0
}
@-webkit-keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
@keyframes splide-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.splide__track--fade>.splide__list>.splide__slide {
  margin: 0!important;
  opacity: 0;
  z-index: 0
}
.splide__track--fade>.splide__list>.splide__slide.is-active {
  opacity: 1;
  z-index: 1
}
.splide--rtl {
  direction: rtl
}
.splide__track--ttb>.splide__list {
  display: block
}
.splide__arrow {
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2em;
  z-index: 1
}
.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em
}
.splide__arrow:hover:not(:disabled) {
  opacity: .9
}
.splide__arrow:disabled {
  opacity: .3
}
.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__arrow--prev {
  left: 1em
}
.splide__arrow--prev svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrow--next {
  right: 1em
}
.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__pagination {
  bottom: .5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1
}
.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: .7;
  padding: 0;
  position: relative;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear,-webkit-transform .2s linear;
  width: 8px
}
.splide__pagination__page.is-active {
  background: #fff;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  z-index: 1
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: .9
}
.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__progress__bar {
  background: #ccc;
  height: 3px
}
.splide__slide {
  -webkit-tap-highlight-color: transparent
}
.splide__slide:focus {
  outline: 0
}
@supports (outline-offset:-3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
@supports (outline-offset:-3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px
  }
}
.splide__toggle {
  cursor: pointer
}
.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px
}
.splide__track--nav>.splide__list>.splide__slide {
  border: 3px solid transparent;
  cursor: pointer
}
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 3px solid #000
}
.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em
}
.splide__arrows--rtl .splide__arrow--prev svg {
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}
.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto
}
.splide__arrows--rtl .splide__arrow--next svg {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}
.splide__arrows--ttb .splide__arrow {
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%)
}
.splide__arrows--ttb .splide__arrow--prev {
  top: 1em
}
.splide__arrows--ttb .splide__arrow--prev svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto
}
.splide__arrows--ttb .splide__arrow--next svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.splide__pagination--ttb {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: .5em;
  top: 0
}
@media (min-width:34.37375em) {
  .form-section__checkbox {
    grid-column: 1;
    grid-row: 2
  }
}
@media (min-width:34.99875em) {
  .roadmap__content {
    width: 19.625rem
  }
}
@media (min-width:37.49875em) {
  .facts__slider .splide__list {
    display: grid!important;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(15.625rem,1fr))
  }
  .partners__container {
    display: grid;
    grid-template-columns: 426fr 562fr;
    align-items: center
  }
}
@media (min-width:40.62375em) {
  .family {
    padding-top: 2.5rem
  }
}
@media (min-width:43.74875em) {
  .facts__slider .splide__track {
    overflow: visible
  }
}
@media (min-width:47.99875em) {
  .select__title {
    border-radius: 1.875rem 1.875rem 0 0;
    transition: background-color .3s;
    padding: .125rem;
    padding-bottom: 0
  }
  ._select-open .select__title {
    background-color: #fcfcfc
  }
  ._select-open .select__value {
    background-color: #a2d1f6;
    color: #070707
  }
  .select__options {
    position: absolute;
    top: 100%;
    left: 0;
    pointer-events: none;
    border-radius: 0 0 1.875rem 1.875rem;
    transition: background-color .3s;
    padding: .125rem;
    padding-top: .1875rem
  }
  ._select-open .select__options {
    background-color: #fcfcfc
  }
  .select__option {
    -webkit-transform: scale(0);
    transform: scale(0)
  }
  ._select-open .select__option {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  ._select-open .select__option:nth-child(2) {
    transition: all .3s,-webkit-transform .3s .1s;
    transition: all .3s,transform .3s .1s;
    transition: all .3s,transform .3s .1s,-webkit-transform .3s .1s
  }
  ._select-open .select__option:nth-child(3) {
    transition: all .3s,-webkit-transform .3s .2s;
    transition: all .3s,transform .3s .2s;
    transition: all .3s,transform .3s .2s,-webkit-transform .3s .2s
  }
  ._select-open .select__option:nth-child(4) {
    transition: all .3s,-webkit-transform .3s .3s;
    transition: all .3s,transform .3s .3s;
    transition: all .3s,transform .3s .3s,-webkit-transform .3s .3s
  }
  .hero__bg--mobile {
    display: none
  }
  .why-us__family {
    max-width: 26.3125rem
  }
}
@media (min-width:61.99875em) {
  .facts__item {
    -webkit-transform: translateY(1.875rem);
    transform: translateY(1.875rem);
    opacity: 0
  }
  ._watcher-view .facts__item {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: transform .5s ease,opacity .5s ease;
    transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease
  }
  ._watcher-view .splide__slide:nth-child(1) .facts__item {
    transition-delay: .1s,.1s
  }
  ._watcher-view .splide__slide:nth-child(2) .facts__item {
    transition-delay: .2s,.2s
  }
  ._watcher-view .splide__slide:nth-child(3) .facts__item {
    transition-delay: .3s,.3s
  }
  ._watcher-view .splide__slide:nth-child(4) .facts__item {
    transition-delay: .4s,.4s
  }
  ._watcher-view .splide__slide:nth-child(5) .facts__item {
    transition-delay: .5s,.5s
  }
  ._watcher-view .splide__slide:nth-child(6) .facts__item {
    transition-delay: .6s,.6s
  }
  ._watcher-view .splide__slide:nth-child(7) .facts__item {
    transition-delay: .7s,.7s
  }
  ._watcher-view .splide__slide:nth-child(8) .facts__item {
    transition-delay: .8s,.8s
  }
  .rates__slider .splide__list {
    display: grid!important;
    grid-template-columns: repeat(3,1fr);
    gap: .625rem
  }
}
@media (min-width:68.74875em) {
  .roadmap__spoilers {
    display: flex;
    min-height: 30.3125rem
  }
  .roadmap__block-title {
    flex-direction: column;
    justify-content: space-between
  }
  .roadmap__block-title span {
    position: absolute;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    text-wrap: nowrap;
    left: 50%;
    -webkit-transform: translateY(50%) rotate(-90deg);
    transform: translateY(50%) rotate(-90deg);
    bottom: 2.5rem
  }
  .roadmap__item {
    display: flex;
    flex-grow: 1
  }
  .roadmap__item:not(:last-child) {
    border-right: .0625rem #e5e5e5 solid
  }
}
@media (min-width:76.25em) {
  .hero__body {
    padding-left: 8.1875rem
  }
  .why-us__content {
    gap: 5.625rem
  }
  .partners__container {
    gap: 9.5rem
  }
  .partners__body {
    padding-left: 6.6875rem
  }
}
@media (max-width:68.74875em) {
  .roadmap__block-title {
    gap: 1.375rem;
    font-size: 1.125rem;
    padding: 1.25rem
  }
  .roadmap__item:not(:last-child) {
    border-bottom: .0625rem #e5e5e5 solid
  }
  .roadmap__body {
    padding: .375rem 1.25rem 1.875rem
  }
  .roadmap__label {
    display: none
  }
  .roadmap__text {
    text-align: center;
    font-size: 1rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: calc(var(--header-height) + 1.25rem) 1.25rem 1.25rem;
    transition: left .3s;
    background-color: #000;
    flex-direction: column;
    align-items: start
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: var(--header-height);
    left: -100%;
    top: 0;
    background-color: #000;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu ul {
    flex-direction: column;
    align-items: start;
    row-gap: 2.5rem
  }
  .menu li {
    font-size: 1.25rem
  }
  .menu__contacts {
    font-size: 1.125rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    border-radius: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .why-us__content {
    padding: 1.25rem 1.25rem 1.875rem;
    border-radius: .625rem
  }
  .rates__header {
    grid-template-columns: 9.6875rem repeat(2,1fr)
  }
  .rates__block:nth-child(3) {
    display: none
  }
}
@media (max-width:61.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .select__body {
    display: flex;
    gap: 1.25rem
  }
  .select__option,
  .select__value {
    border-color: #5e5e5e
  }
  .select__value {
    background-color: #97ca3f;
    border-color: #97ca3f;
    color: #070707
  }
  .select__options .select__scroll {
    display: flex;
    gap: 1.25rem
  }
  .splide__pagination {
    bottom: 1.3125rem!important;
    gap: .625rem
  }
  .splide__pagination__page {
    height: .375rem;
    width: .375rem
  }
  .section-title {
    font-size: 1.5rem
  }
  .footer__contacts {
    padding: 1.375rem 0;
    border-radius: .625rem .625rem 0 0
  }
  .footer__text {
    max-width: 14.375rem
  }
  .footer__text p:not(:last-child) {
    margin-bottom: .875rem
  }
  .page-home__form,
  .page-home__videos,
  .page-home__why-us {
    margin-bottom: 2.5rem
  }
  .page-home__roadmap {
    margin-bottom: 2.5rem
  }
  .hero__slider {
    border-radius: 0 0 .625rem .625rem
  }
  .hero__slider .splide__slide {
    min-height: 31rem
  }
  .hero__slider .splide__pagination {
    bottom: 1.3125rem!important;
    gap: .625rem
  }
  .hero__slider .splide__pagination__page {
    height: .375rem;
    width: .375rem
  }
  .hero__bg--pc {
    display: none
  }
  .hero__container {
    align-items: end
  }
  .hero__body {
    padding: 0 1.25rem 3rem;
    margin: 0 -1.25rem;
    max-width: unset;
    width: calc(100% + 2.5rem)
  }
  .hero__title:not(:last-child) {
    margin-bottom: .875rem
  }
  .hero__info {
    gap: .625rem
  }
  .hero__info-block {
    font-size: 1rem;
    padding: .9375rem .625rem
  }
  .hero__present {
    font-size: .875rem
  }
  .hero__present svg {
    width: 1rem;
    height: 1.0625rem
  }
  .hero__special:not(:first-child) {
    margin-top: 2.5rem
  }
  .hero__special-title {
    font-size: .875rem
  }
  .hero__special-title:not(:last-child) {
    margin-bottom: .875rem
  }
  .form-section {
    border-radius: .625rem;
    padding: 1.25rem 0
  }
  .why-us__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .why-us__content {
    gap: 1.25rem
  }
  .why-us__icon {
    width: 1.0625rem;
    height: 1.0625rem
  }
  .why-us__label {
    font-size: .875rem
  }
  .why-us__services img {
    height: 1.8125rem
  }
  .family__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .family__body {
    padding: 1.0625rem 2.25rem;
    max-width: 16.25rem;
    gap: 1.5625rem
  }
  .family__label {
    font-size: .875rem
  }
  .family__logo {
    width: 3.125rem
  }
  .roadmap__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .text>*:not(:last-child) {
    margin-bottom: .875rem
  }
  .page-home__partners {
    margin-bottom: 2.5rem
  }
  .partners__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .page-home__rates {
    margin-bottom: 2.5rem
  }
  .rates__title:not(:last-child) {
    margin-bottom: .875rem
  }
  .rates__text {
    font-size: .875rem
  }
  .rates__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .rates__table:not(:last-child) {
    margin-bottom: 2.4375rem
  }
  .rates__header {
    grid-template-columns: 7.5rem repeat(2,1fr)
  }
  .rates__table-title {
    padding: 1rem .3125rem
  }
  .rates__label {
    font-size: 1rem
  }
  .rates__label--big {
    font-size: 1rem
  }
  .rates__label--small {
    font-size: .75rem
  }
  .rates__block .rates__label {
    padding: 1rem .3125rem
  }
  .rates__body {
    grid-template-columns: 7.5rem 1fr
  }
  .rates__aside-block {
    padding: .625rem .3125rem
  }
  .rates__periods .rates__label {
    padding: 1rem .3125rem
  }
  .rates__name-block {
    padding: .875rem .3125rem
  }
  .faq-section {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem
  }
  .faq-section__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .faq-section__item:not(:last-child) {
    margin-bottom: .625rem
  }
  .faq-section__block-title {
    padding: 1rem
  }
  .faq-section__block-title {
    font-size: 1rem
  }
  .faq-section__block-title::after {
    width: 1.25rem
  }
  .faq-section__text {
    font-size: 1rem;
    padding: 0 1rem 1rem
  }
}
@media (max-width:43.74875em) {
  .facts__header {
    gap: .8125rem;
    max-width: 14.625rem;
    margin: 0 auto
  }
  .facts__header:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .facts__header span {
    font-size: 4rem
  }
}
@media (max-width:40.62375em) {
  .why-us__content {
    flex-direction: column;
    align-items: center
  }
  .why-us__services {
    padding-left: 0;
    justify-content: center
  }
}
@media (max-width:37.49875em) {
  .text {
    font-size: .875rem
  }
  .partners__body:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .partners__label {
    padding: .625rem 3.75rem;
    text-align: center;
    width: 100%;
    font-size: .875rem
  }
  .partners__logos {
    gap: .625rem
  }
  .rates__table {
    margin-right: -1.25rem
  }
  .rates__header {
    grid-template-columns: 7.5rem 1fr
  }
  .rates__block:nth-child(2) {
    display: none
  }
}
@media (max-width:35.93625em) {
  .videos__slider {
    margin: 0 -1.25rem
  }
  .videos__slider .splide__arrow--next {
    padding-right: 3.75rem!important
  }
  .videos__slider .splide__arrow--prev {
    padding-left: 3.75rem!important
  }
  .videos__slider .splide__slide .yt-video {
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center
  }
  .videos__slider .splide__slide:not(.is-active) .yt-video {
    -webkit-transform: scale(.89);
    transform: scale(.89)
  }
}
@media (max-width:34.99875rem) {
  .button {
    font-size: .875rem
  }
}
@media (max-width:34.37375em) {
  .form-section__body {
    grid-template-columns: 1fr;
    gap: .6875rem
  }
  .form-section__button {
    font-size: .875rem
  }
  .form-section__checkbox {
    gap: .3125rem
  }
  .form-section__checkbox:not(:last-child) {
    margin-bottom: .5rem
  }
  .family__title {
    font-size: .875rem;
    font-weight: 300
  }
}
@media (max-width:34.99875em) {
  .roadmap__block-title::before {
    font-size: 1.5rem
  }
  .roadmap__content {
    align-items: center
  }
}
@media (max-width:28.12375em) {
  .facts__slider {
    margin-right: -1.25rem
  }
  .facts__item {
    min-height: 7.0625rem
  }
}
@media (min-width:47.99875em)and (max-width:76.25em) {
  @supports (padding-left:clamp(1.25rem ,-10.5367821114rem + 24.5564355559vw ,8.1875rem)) {
    .hero__body {
      padding-left: clamp(1.25rem ,-10.5367821114rem + 24.5564355559vw ,8.1875rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,-10.5367821114rem + 24.5564355559vw ,8.1875rem)) {
    .hero__body {
      padding-left: calc(1.25rem + 6.9375*(100vw - 47.99875rem)/ 28.25125)
    }
  }
  @supports (gap:clamp(1.25rem ,-6.183105836rem + 15.4860404407vw ,5.625rem)) {
    .why-us__content {
      gap: clamp(1.25rem ,-6.183105836rem + 15.4860404407vw ,5.625rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-6.183105836rem + 15.4860404407vw ,5.625rem)) {
    .why-us__content {
      gap: calc(1.25rem + 4.375*(100vw - 47.99875rem)/ 28.25125)
    }
  }
}
@media (min-width:37.49875em)and (max-width:76.25em) {
  @supports (gap:clamp(1.25rem ,-6.7333473114rem + 21.2896358182vw ,9.5rem)) {
    .partners__container {
      gap: clamp(1.25rem ,-6.7333473114rem + 21.2896358182vw ,9.5rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-6.7333473114rem + 21.2896358182vw ,9.5rem)) {
    .partners__container {
      gap: calc(1.25rem + 8.25*(100vw - 37.49875rem)/ 38.75125)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-6.4713495915rem + 17.257507661vw ,6.6875rem)) {
    .partners__body {
      padding-left: clamp(.0000000625rem ,-6.4713495915rem + 17.257507661vw ,6.6875rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-6.4713495915rem + 17.257507661vw ,6.6875rem)) {
    .partners__body {
      padding-left: calc(.0000000625rem + 6.6874999375*(100vw - 37.49875rem)/ 38.75125)
    }
  }
}
@media (any-hover:hover) {
  .select__option:hover,
  .select__value:hover {
    background-color: #a2d1f6;
    border-color: #a2d1f6;
    color: #070707
  }
  .menu li a:hover {
    text-decoration-color: inherit
  }
  .form-section__checkbox a:hover {
    text-decoration-color: transparent
  }
  .button:hover {
    background-color: #32a08a
  }
  .menu__contacts:hover {
    background-color: #333;
    color: #fff
  }
  .form-section__button:hover {
    background-color: #fff;
    color: #000
  }
  .roadmap__block-title:hover span {
    color: #81c7b9
  }
  .faq-section__block-title:hover {
    color: #81c7b9
  }
}
@media screen and (-ms-high-contrast:none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf
  }
  .splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus {
    border-color: #0bf
  }
}